sample_public_key       = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC9m2a/j/dIUADrcRmkOSGj8yAdeLDNPTZJE1+iTyNJDiHcwjJPE/FJz672bTEwpeC4PEblqZH+i4/3pywgleNPv/zlgkIgOReTk/QyqLqmPiI25rxPyXZK8Y6rYLA9afqVDMWwBsjU/fDiVM6IQzrH0JYZ0smpUBPi3I90vH89BNGq7HGcFkz/gkRTgwyDeaxEHU6Q2wqpZSwLGhJwqMmWj2Jt4179ihu08eywqavcNhat+cMaQkwwsH7BpcABfjAO0LsgPutSOicI7+nA8/yQtIFDTtmQfuQPpdz3QrCvdZHBc+Cy0zqbEpDcS3MMLmkGhV9qOEQXLcuzwiNGQJmhD08i8AZJlx2FQRTJUFcLfauyWqlVRWkt2+qlBRJ5pyh0MbBhKL46OZE8jkn+nTu3UMbYEjnHj0ymKVFKxpud0RbzPcRdskMCl7KMO8S8gEBk8VUsxluJ0CrYMu+Dk25RZyurRq6FFVoy9ifua2AnQ5Qg34i4yanTkyGidPOUdz3MRXcvo++0K3KJ+LRbjXmF/4yyO3hi+esDFN7hMX/8fgZCOdW0xAizeC1lJDemUMyGAMm+4rcDpoprFVeoJcKHtn4B0+WIlDPz7zSbp+HI1zW1aASBhqixVGPGHNxNkqPShXn41+hkW4JEb5I7yt9GxVg4Mv9E2F6EmYp2R5k2Qw== ubuntu@gmail.com"